body{
  /* background-color: #214E34; */
  background-color: #13505B;
}
.forms{
  width: 40%;
  margin: auto;
}
.overlay{
  background-color: #DFF8EB;
  margin-left: 300px;
  margin-right: 300px;
  opacity: 0.8;
}
h1{
  font-family: 'Gugi', cursive;
  color: #DFF8EB;
  text-align: center;
  font-size: 3.5em;
}
.triangles{
  display: flex;
  justify-content: space-around;
}
.triangles div{
  width: 30%;
}
.triangles div img{
  width: 200px;
  height: 150px;
}
